*{
    box-sizing: border-box;
}
#box1 {
    width: 55px;
    height: auto;
    display: inline-block;
    background-color: #F5C6D6;
    margin: auto;
    padding: 20px 242px 5px 30px;
}
.line2 {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 5px;
    background-color: #EE2E84;
    border-style: solid;
    border-color: white;
    border-width: 40px;
}
/* #box2 {
    width: 55px;
    height: auto;
    display: inline-block;
    background-color: #EE2E84;
    margin: auto;
    padding: 20px 242px 5px 30px;
}
#box3 {
    width: 55px;
    height: auto;
    display: inline-block;
    background-color: #EE2E84;
    margin: auto;
    padding: 20px 242px 5px 30px;
}
#box4 {
    width: 55px;
    height: auto;
    display: inline-block;
    background-color: #EE2E84;
    margin: auto;
    padding: 20px 242px 5px 30px;
}
#box5 {
    width: 55px;
    height: auto;
    display: inline-block;
    background-color: #EE2E84;
    margin: auto;
    padding: 20px 242px 5px 30px;
} */
#box6 {
    width: 55px;
    height: auto;
    display: inline-block;
    background-color: #85CFD8;
    margin: auto;
    padding: 20px 242px 5px 30px;
}
#box7 {
    width: 55px;
    height: auto;
    display: inline-block;
    background-color: #85CFD8;
    margin: auto;
    padding: 20px 242px 5px 30px;
}
#box8 {
    width: 55px;
    height: auto;
    display: inline-block;
    background-color: #8DC63F;
    margin: auto;
    padding: 20px 242px 5px 30px;
}
#box9 {
    width: 55px;
    height: auto;
    display: inline-block;
    background-color: #E76E34;
    margin: auto;
    padding: 20px 242px 5px 30px;
}