h1 {
    color: darkgreen;
}

.head-sub-headline {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.content {
    line-height: 25px;
}
a:link  {
    text-decoration: none;
}
a:hover {
    text-decoration: underline
}
.footer {
    text-transform: uppercase
}
img {
    float: left;
    width: 20%;
    height: auto;
}