.tHead {
    background-color: green
    /* border-bottom-color: red;
    border-collapse: collapse;
    border-left-color: red;
    border-right-color: red;
    border-top-color:   red;
    box-sizing: border-box; */
    /* display: table-row; */
}

.version {
}